@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamLight.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamLightItalic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBookItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMediumItalic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Gotham', 'Montserrat', Helvetica, Arial, sans-serif !important;
}
.vertical-align {
    display: flex !important;
    align-items: center !important;
}
.m0a {
    margin: 0 auto;
}

/* PRELOADER */

/*
@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
}

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
*/
#preloader {
    background: #FFF
}
@keyframes spinner{
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}
#spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;

    /*-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;*/

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -100px;
}

/* END PRELOADER */

/* NAVBAR */

ul.marquee li {
    display: inline-block;
}
.exchange-flag {
    height: 12px;
    width: 20px;
    margin-right: 5px;
}
.exchange-items {
    margin-bottom: 10px;
}
.exchange-items > div > p:first-child {
    color: #999;
}
.exchange-items > div > p:last-child {
    color: #FFF;
}
.marquee {
    width: 100%;
    overflow: hidden;
    background-color: #97999b;
    color: white;
}
.marquee li {
    margin: 3px 20px;
}
#logo > a img {
    /*max-width: 235px;*/
    padding: 5px;
    height: auto;
}
#navy > li > a > span {
    padding: 38px 15px 28px 15px;
    font-weight: 500;
}
#navy {
    margin-bottom: 0;
}
a {
    color: #4f758b;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
a:hover {
    color: #4f758b;
    text-decoration: none;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.light_header .lang-select .lang-panel-con {
    background: #4f758b;
}
.topmenu-social > a > i {
    font-size: 18px;
    top:2px;
}
.btn-login {
    /*border: 1px solid red;*/
    border-radius: 0;
    margin: 3px 0 3px 20px;
    color: #fff;
    border: none;
    /*background-color: #1b365d;*/
    background: linear-gradient(rgb(43,112,155), rgb(46,76,106));
}
.btn-login:hover {
    color: #fff;
    /*background-color: #1b365d;*/
    background: linear-gradient(rgb(46,76,106), rgb(43,112,155));
}
.btn-login:focus {
    color: #fff;
}
#mato_nav {
    float: none;
}
#navy li {
    float: none;
}
#navy > li.active_item > a:not(.nav_trigger), #navy > li:hover > a:not(.nav_trigger), #navy > li > a.current, .light_header #navy > li > a.current {
    color: #4f758b;
    text-decoration: none;
}
#navy ul {
    width: 355px;
}
.top_dark #nav_menu:not(.mobile_menu) #navy ul {
    background: linear-gradient(#4f758b, #2c4351);
}
.light_header .topmenu-social > a > span.social-bigico {
    background: #4f758b;
}
.topmenu-social.socials-div > a > span.social-bigico {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
}

/* END NAVBAR */

/* SLIDER */

.main-slider {
    height: 450px;
    margin-top: -83px;
    background-color: rgba(0,0,0,0.1);
    /*background-image: url('../img/02.jpg');*/
    /*background-size: 100%;*/
    /*background-position: center;*/
}
.main-slider img {
    margin: 0 auto;
    /*background-color: rgba(0,0,0,0.1);*/
}
.main-slider-text {
    margin-top: 100px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}
.main-slider-text h1,h2 {
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}
.secondary-slider {
    height: 270px;
    margin-top: -83px;
    background-color: rgba(0,0,0,0.1);
    /*background-image: url('../img/02.jpg');*/
    /*background-size: 100%;*/
    /*background-position: center;*/
}
.secondary-slider img {
    margin: 0 auto;
    /*background-color: rgba(0,0,0,0.1);*/
}
.secondary-slider-text {
    margin-top: 100px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}
.secondary-slider-text h1, .secondary-slider-text h2 {
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}
#navigation_bar {
    margin-left: 0;
    margin-right: 0;
    /*border: none !important;*/
    opacity: 0.7;
    -webkit-transition: all 0.4s ease !important;
    -moz-transition: all 0.4s ease !important;
    -o-transition: all 0.4s ease !important;
    -ms-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
}
#navigation_bar:hover {
    opacity: 1;
    -webkit-transition: all 0.4s ease !important;
    -moz-transition: all 0.4s ease !important;
    -o-transition: all 0.4s ease !important;
    -ms-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
}

/* END SLIDER */

/* HOME */

.content_section.bg-fixed.inwhite.bg3 {
    top: -1px;
}
.inwhite .div-icons_con.style1 .div-serv .desc, .inwhite .div-icons_con.style2 .div-serv .desc {
    font-weight: 400;
}
.light_header .topmenu-social span.socialn:after, .light_header .topmenu-social span.socialn:before, .light_header .topmenu-social > a > span.socialn {
    background: #4f758b;
    color: #fff;
}
.mato_title .line:before {
    background: #e4002b;
}
.mato_title .line i {
    color: #4f758b;
}
#navy span {
    font-size: 12px;
    color: #000;
}
#navy .active_item span, #navy span:hover {
    color: #4f758b;
}
.blog_grid_format i {
    background: #4f758b;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #4f758b;
}
.quote_con, a.quote_con:focus {
    background: #4f758b;
}
.feature_inner_ling:after {
    background: #4f758b;
}
.inwhite .feature_icon .item h5 .icon span:after {
    background: #e4002b;
}
.recent_posts_list li > a .recent_posts_img:after {
    background: #4f758b;
}
.feature_icon .item:hover h5 .title {
    color: #FFF;
}
.section_icon i {
    background: #fff;
    color: #4f758b;
}
.feature_inner_btns > a {
    color: #4f758b;
}
#Gabriel_owl_slider .owl-page.active, #Gabriel_owl_slider .owl-page:hover, .png_slider .owl-page.active, .png_slider .owl-page:hover, .feature_icon_slider .owl-page.active, .feature_icon_slider .owl-page:hover, .porto_galla .owl-page.active, .porto_galla .owl-page:hover, .content_slider .owl-page.active, .content_slider .owl-page:hover, .sidebar_slider .owl-page.active, .sidebar_slider .owl-page:hover {
    background-color: #4f758b;
}
.porto_galla .Gabriel_owl_p, .porto_galla .Gabriel_owl_n {
    color: #4f758b;
}
a.img_popup > span {
    background: rgba(79, 117, 139, 0.7);
}
.bg_overlay {
    background: linear-gradient(#4f758b, #2c4351)
}
.bg_overlay2 {
    background: #FFF
}
.bg_overlay:after {
    background: none;
}
.bg_services {
    /*background: linear-gradient(#4f758b, #2c4351);*/
    /*background: -webkit-linear-gradient(150deg, transparent 5%, #C8102E 5%, #e4002b 15%, transparent 15%, transparent 85%, #1b365d 85%, #1F2A44 100%);*/
    /*background: -moz-linear-gradient(150deg, transparent 10%, #C8102E 10%, #e4002b 20%, transparent 20%, transparent 85%, #1b365d 85%, #1F2A44 100%);*/
    /*background: linear-gradient(120deg, #1F2A44 0%, #1b365d 15%, transparent 15%, transparent 85%, #e4002b 85%, #C8102E 95%, transparent 95%, transparent 100%);*/
    background-image: url("../img/diagonalbg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.bg_services2 {
    /*background: linear-gradient(#4f758b, #2c4351);*/
    /*background-image: -webkit-linear-gradient(150deg, transparent 5%, #1F2A44 5%, #1b365d 15%, transparent 15%, transparent 85%, #e4002b 85%, #C8102E 100%);*/
    background: url("../img/diagonalbg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.bg_services2 > div > .div-icons_con > div > .div-serv > .div-serv_con h3 {
    color: #324545 !important;
}
.bg_services2 > div > .div-icons_con > div > .div-serv > .div-serv_con > .desc {
    color: #000 !important;
}
.div-serv-title {
    font-size: 22px;
    margin-top: 35px;
}
.div-serv-row {
    height: 84px;
    margin-bottom: 20px;
}
.div-serv > .col-xs-3 {
    height: 84px;
}
.bg_vecogo {
    /*background-image: -moz-linear-gradient(150deg, transparent 55%, #C8102E 55%, #e4002b 55%, #e4002b 65%, #e4002b 65%, #1b365d 65%, #1b365d 65%, #1F2A44 100%);*/
    /*background-image: -webkit-linear-gradient(150deg, transparent 55%, #C8102E 55%, #e4002b 55%, #e4002b 65%, #e4002b 65%, #1b365d 65%, #1b365d 65%, #1F2A44 100%);*/
    background: url("../img/diagonalbg2.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.bg_vecogo2 {
    /*background-image: -moz-linear-gradient(150deg, transparent 55%, #C8102E 55%, #e4002b 55%, #e4002b 65%, #e4002b 65%, #1b365d 65%, #1b365d 65%, #1F2A44 100%);*/
    /*background-image: -webkit-linear-gradient(150deg, transparent 55%, #C8102E 55%, #e4002b 55%, #e4002b 65%, #e4002b 65%, #1b365d 65%, #1b365d 65%, #1F2A44 100%);*/
    background: url("../img/diagonalbg7.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.img-vecogo {
    margin: 80px 0 10px 0 ;
}
.img-vecogo2 {
    margin: 24px 0 10px 0 ;
    padding: 43px;
}
.img-vecoaccess {
    margin: 30px 0 10px 0 ;
    padding: 40px;
}
.img-laptop {
    /*padding: 50px;*/
    position: absolute;
    bottom: 25px;
}
.img-app {
    margin-bottom: 80px;
}
.img-phone {
    margin: 0 auto;
    margin-top: 20px;
}
.bg_vecogo h4, h6 {
    color: #333;
    font-weight: 600;
    padding: 3px;
}
.veco-app-icons {
    font-size: 34px;
    margin: 10px;
    color: #364958;
}
.btn-vecoapp {
    background-color: black;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 1px 1px 3px #333;
    margin-bottom: 50px;
}
.btn-vecoapp:hover {
    color: #4f758b;
}
.inwhite .div-icons_con.style1 .div-serv .desc, .inwhite .div-icons_con.style2 .div-serv .desc {
    color: #ddd;
}
.div-icons_con.style2:not(.solid_icon):not(.icon_box_no_border) .div-serv .icon {
    background: #1b365d;
    color: #fff;
}
.div-icons_con.style2:not(.solid_icon):not(.icon_box_no_border) .div-serv:hover .icon {
    background: #e4002b;
    color: #fff;
}
.inwhite .div-icons_con.style2:not(.icon_box_no_border) .div-serv .icon::after, .div-icons_con.style2:not(.icon_box_no_border) .div-serv .icon:after {
    background: inherit;
    border: none;
}
.feature_inner {
    /*max-width: 360px;*/
    /*max-height: 200px;*/
    max-width: 100%;
    max-height: 100%;
}
.hm_blog_grid .feature_inner {
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hm_blog_grid .blog_grid_con {
    height: 260px;
}
.blog_grid_block .desc {
    text-align: justify;
}

.banner-separator.total_color, .banner-separator.boxed_colored {
    background: #4f758b;
    color: #fff;
}
#eBook h4 {
    margin-bottom: 10px;
    /*color: #fff;*/
}
#eBook input {
    margin-bottom: 10px;
    width: 50%;
}
#eBook .modal-body {
    background: url("../img/diagonalbg.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#eBook .modal-header {
    background-color: #4f758b;
}

/* END HOME */

/* BLOG */

.blog_grid_con .title a:hover {
    color: #4f758b;
}
#pagination {
     margin-top: 0;
}
.pagination li a:hover, .pagination li.active a, .pagination li.next_pagination > a:hover, .pagination li.prev_pagination > a:hover {
    background: #4f758b;
    border-color: #4f758b;
    color: #fff;
}
.hm_blog_list .blog_grid_con .title a:hover, .post_title_con .title a:hover {
    color: #4f758b;
}
.blog_grid_con .meta .post_type_meta a, .post_title_con .post_type_meta a {
    color: #aaa;
}
.blog_grid_con .meta .post_type_meta a:hover, .post_title_con .post_type_meta a:hover {
    color: #4f758b;
}
.blog_grid_con .meta a:hover, .post_title_con .meta a:hover, .timeline_block .meta a:hover {
    color: #4f758b;
}
.hm_blog_list .btn_a, .btn_a i.to_left, .btn_a i.to_right {
    color: #4f758b;
}
.popular-post {
    display: inline-block;
    height: 150px;
    width: 25%;
    overflow: hidden;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.popular-post img {
    position: relative;
    width: 100%;
    z-index: 1;
}
.popular-post span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0, 0.5);
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.popular-post:hover span {
    background: rgba(79, 117, 139, 0.8);
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.popular-post .popular-post-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 25px;
    z-index: 3;
}
.popular-post .popular-post-text h6, .popular-post .popular-post-text p {
    color: #FFF;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
}
.popular-post .popular-post-text p {
    color: #ddd;
}
.btn_a:not(.color1):hover {
    color: #4f758b;
}
.search_block form .search_btn {
    color: #4f758b;
}
.post_format_con > span > a {
    color: #1b365d;
    border: 1px solid #1b365d;
}
.internal_post_con .meta .meta_part i, .timeline_block .meta .meta_part i {
    color: inherit;
}
.related_posts_slide .related_img > span:after {
    background: #4f758b;
}
.cat_list_widget > li a:hover {
    color: #4f758b;
}
blockquote > i {
    color: #4f758b;
}
.socials-share a:hover {
    color: #4f758b;
    border-color: #4f758b;
}
.post_next_prev a:hover, .post_next_prev a:hover .t {
    color: #4f758b;
}
#comments .children, .comment-reply-link:hover, .comment-edit-link:hover, input[type="text"]:focus, textarea:focus, input[type="password"]:focus {
    border-color: #4f758b;
}
#comments .children:after {
    background: #4F758B;
}
.send_button {
    background: #4F758B;
    border-color: #4f758b;
}
.recent_posts_img {
    max-width: 90px;
    max-height: 60px;
}

/* END BLOG */

/* SERVICES */

.container-services, .container-about{
    margin-top: 65px;
}
.container-services .btn {
    color: white;
    background-color: #4f758b;
    margin-top: 15px;
    border-radius: 0px;
}
.container-services .btn:hover {
    background-color: #1b365d;
}
.container-services .icon {
    font-size: 200px;
}
.container-services .bg_overlay a, .container-services .bg_overlay h4 {
    color: #FFF !important;
}
.div-serv-container {
    padding: 30px 0;
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: 30px;
}
.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/*
.container-services .btn {
    color: white;
    background-color: #4f758b;
    margin-top: 15px;
    border-radius: 0px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.container-services .btn:hover {
    background-color: #1b365d;
}
.div-serv-container {
    border: 1px solid #ddd;
    padding: 20px;
    height: 280px;
    box-shadow: 3px 3px 5px #ddd;
}
.div-serv-container:hover {
    top: -2px;
    box-shadow: 5px 5px 5px #ddd;
}
.div-serv-container .icon {
    top: 33px !important;
    left: 25px !important;
}
.div-serv-container i {
    font-size: 34px;
}
*/
.title1 {
    color: #4f758b;
}
.service-icon-big {
    color: #4f758b;
    height: 200px;
    font-size: 150px;
    position: relative;
}
.service-icon-big i {
    margin: 10px 50px;
    position: absolute;
}
.div-icons_con.style2:not(.icon_box_no_border) .div-serv-container .icon:after {
    top: -12px;
}
.div-serv-container:hover h3 {
    color: #1b365d;
}

/* END SERVICES */

/* ABOUT */

.tabs1.ver_tabs .tabs-navigator a.selected {
    background: #fff;
    color: #4f758b;
}
.tabs1.ver_tabs .tabs-navigator a.selected i {
    color: #e4002b;
}
.ver_tabs .tabs-navigator a.selected:before {
    background: #e4002b;
}
.ver_tabs .tabs-navigator li {
    min-width: 225px;
}
.container-about {
    margin-bottom: 50px;
}
.about-tabs {
    height: 450px;
}
.about-tabs p {
    text-align: justify;
}
#about-image img {
    max-height: 120px;
}
.values-row {
    /*margin: 50px 0;*/
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    /*background: linear-gradient(rgb(43,112,155), rgb(46,76,106));*/
    /*background: linear-gradient(#4f758b, #2c4351);*/
    /*background-image: url("../img/diagonalbg.png");*/
    background-size: 100%;
    padding: 50px 0;
}
.values-row h2 {
    color: #FFF;
}
.values-row img {
    margin: 20px auto;
}
.container-values {
    border: 1px solid white;
    margin-bottom: 30px;
    height: 180px;
    padding: 30px;
    background: linear-gradient(rgba(46,76,106,0.8), rgba(8,40,58,0.8));
}
.container-values h5, .container-values p {
    color: #FFF;
}
.testimonials-row {
    /*background: linear-gradient(#4f758b, #2c4351);*/
    background: linear-gradient(rgba(79,115,134,0.8), rgb(79,115,134));
}
.testimonials-row h2 {
    color: #FFF;
}
.testimonials-row .common-txtslider .Gabriel_owl_n, .testimonials-row .common-txtslider .Gabriel_owl_p {
    background: transparent;
    border: 2px solid #dadbdb;
    color: #dadbdb;
}
.testimonials-row .common-txtslider .Gabriel_owl_n:hover, .testimonials-row .common-txtslider .Gabriel_owl_p:hover {
    color: #e4002b;
    border-color: #e4002b;
}
.common-txtslider.client_say_slider .owl-prev {
    left: -45px;
}
.common-txtslider.client_say_slider .owl-next {
    right: -45px;
}
.common-txtslider .owl-prev {
    left: 0;
}
.common-txtslider .owl-next {
    right: 0;
}
.testimonials-row .common-txtslider .url {
    color: #1b365d;
}
.testimonials-row .common-txtslider .client_details {
    color: #ddd;
    margin: 15px 0;
    font-size: 18px;
}
.testimonials-row .common-txtslider .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}
.partners-row {
    margin-top: 50px;
    margin-bottom: 30px;
}
.partners a {
    margin: 20px;
}
.partners a img {
    transform: scale(0.9);
    opacity: 0.5;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.partners a img:hover {
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}

/* END ABOUT */

/* PRESS */

.news-container {
    /*margin-bottom: 50px;*/
    border: 1px solid #ddd;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.news-container > div:nth-child(1) {
    padding-left: 0;
}
.news-container:hover {
    background-color: rgba(79,115,134,0.8);
    color: #FFF;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.news-container:hover a {
    color: #FFF;
}
.news-text {
    padding: 20px 5px;
}
.news-description i {
    margin-right: 5px;
}
.news-header h4 {
    color: #fff;
    margin: 5px 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    /*text-transform: uppercase;*/
}
.news-header p {
    color: #ddd;
}
.news-image {
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.news-image .news-header {
    position: absolute;
    padding: 25px;
    z-index: 3;
    color: #FFF;
    text-align: left;
    bottom: 0;
    left: 0;
}
.news-image span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
    z-index: 2;
}
.news-description {
    margin-top: 30px;
    text-align: justify;
}
.related_posts_slide .related_title:hover {
    color: #4f758b;
}

/* END PRESS */

/* CAREERS */

.careers-text p {
    text-align: justify;
}
.careers-text h6 {
    color: #4f758b;
}
.careers-text ul {
    margin-left: 50px;
}
.careers-text i {
    margin-right: 10px;
    color: #4f758b;
}
.offer-block {
    background: linear-gradient(#4f758b, #2c4351);
    padding: 50px 0;
}
.offer-block h4, .offer-block p {
    color: #fff;
}
.offer-block i {
    margin-right: 10px;
}
.send-resume-block h4, .send-resume-block h6 {
    color: #FFF;
    font-weight: normal;
    text-shadow: 1px 1px 3px black;
}
#send-resume-form {
    color: #FFF;
}
#send-resume-form .row{
    margin-bottom: 10px;
}
#send-resume-form label {
    margin-bottom: 0;
    font-weight: normal;
}
#send-resume-form .form-group {
    margin-bottom: 0;
}
#send-resume-form input, #send-resume-form textarea {
    border-radius: 0;
    width: 100%;
}
#send-resume-form .btn {
    border-radius: 0;
    background-color: #4f758b;
    width: 100px !important;
    margin-right: 10px;
}
#send-resume-form .btn:hover {
    background-color: #2c4351;
}
#send-resume-form a {
    color: #FFF;
}
#send-resume-form a:hover {
    color: #FFF;
}
#send-resume-form .form-group {
    width: 100%;
}
#send-resume-form input[type="text"], #send-resume-form textarea {
    border: 1px solid #ccc;
}
.form-general {
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
}
.form-view {
    padding: 0 30px;
    background-color: white;
}
.form-view h2 {
    margin-top: 0;
}
.job-offer-view .form-view span, .form-view label, .form-view h2 {
    color: #333;
    background-color: inherit;
}
.job-offer {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    /*margin: 15px 0;*/
}
.job-offer h6 {
    margin: 0;
    padding: 0;
}
.job-offer p {
    margin-bottom: 5px;
    padding: 0;
}
.job-offer span, .job-offer-view span {
    text-transform: lowercase;
    display: inline;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 5px;
    margin: 10px 10px 5px 0;
    color: #fff;
    background-color: #4f758b;
}
.job-offer-view h2, .job-offer-view h4 {
    margin: 0 0 10px 0;
    color: #333;
}
.job-offer-view h6 {
    padding: 0;
}
.job-offer-view ul {
    margin-left: 20px;
    list-style-type: disc;
    margin-bottom: 15px;
}
.job-offer-view hr {
    margin: 15px 0;
    border-top: 1px solid #ddd;
}
.send-linkedin {
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    color: #333;
}
.send-linkedin .btn {
    padding: 5px 15px;
    color: white;
    background-color: #0077b5;
    border-radius: 0;
}
.send-linkedin .btn i{
    margin-right: 5px;
}
/* END CAREERS */

/* CONTACT */

.contact-details p {
    margin: 0 !important;
}
.contact-details ul {
    margin: 10px 0;
}
.contact-details ul li i{
    margin: 0 5px 0 0;
}
.contact-details .col-xs-3 p {
    color: #4f758b;
    font-weight: 600;
}
.panel-heading a:not(.collapsed) {
    background: #4f758b;
    color: #fff;
    border-color: #4f758b;
}
.panel-heading a:hover i {
    color: #4f758b;
}
.panel-heading a:hover:after, .panel-heading a:hover:before {
    background: #4f758b;
}

/* END CONTACT */

/* PAYMENTS */
.payment-form {
    color: #333;
}
#btn_paypal {
    max-width: 200px;
}

/* PAYMENTS FORM */

/* FOOTER */

.row_spacer_footer {
    padding: 50px 0;
}
#footer {
    background: linear-gradient(#4f758b, #2c4351);
    color: #ddd;
}
#footer:after, #footer:before, .footer_copyright:after {
    background: none;
}
#footer #read_more_footer {
    color: #4f758b;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
#footer #read_more_footer:hover {
    color: white;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.footer_row {
    border: none;
}
.footer_navigation a {
    color: #ddd;
}
.footer_navigation a:hover {
    color: #fff;
}
#footer .tagcloud a:hover .tag {
    border-color: #4f758b;
}
.arrow_button {
    border-color: #4f758b;
}
.footer_row .footer_txt {
    text-align: justify;
}

/* END FOOTER */