@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamLight.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamLightItalic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBookItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMediumItalic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Gotham', 'Montserrat', Helvetica, Arial, sans-serif !important;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.m0a {
    margin: 0 auto;
}
ul.marquee li {
    display: inline-block;
}
#logo > a img {
    max-width: 235px;
    padding: 5px;
}
#navy > li > a > span {
    padding: 38px 15px 28px 15px;
}
#navy {
    margin-bottom: 0;
}
a {
    color: #4f758b;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
a:hover {
    color: #4f758b;
    text-decoration: none;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.light_header .lang-select .lang-panel-con {
    background: #4f758b;
}
.topmenu-social > a > i {
    font-size: 18px;
    top:2px;
}
.btn-login {
    /*border: 1px solid red;*/
    border-radius: 0;
    margin: 3px 0 3px 20px;
    color: #fff;
    /*background-color: #1b365d;*/
    background-color: #4f758b;
}
.btn-login:hover {
    color: #fff;
    background-color: #1b365d;
}
#mato_nav {
    float: none;
}
#navy li {
    float: none;
}
#navy > li.active_item > a:not(.nav_trigger), #navy > li:hover > a:not(.nav_trigger), #navy > li > a.current, .light_header #navy > li > a.current {
    color: #4f758b;
    text-decoration: none;
}
.main-slider {
    height: 450px;
    margin-top: -83px;
    background-color: rgba(0,0,0,0.1);
    /*background-image: url('../img/02.jpg');*/
    /*background-size: 100%;*/
    /*background-position: center;*/
}
.main-slider img {
    margin: 0 auto;
    /*background-color: rgba(0,0,0,0.1);*/
}
.main-slider-text {
    margin-top: 100px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}
.main-slider-text h1,h2 {
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}
.content_section.bg-fixed.inwhite.bg3 {
    top: -1px;
}
.inwhite .div-icons_con.style1 .div-serv .desc, .inwhite .div-icons_con.style2 .div-serv .desc {
    font-weight: 400;
}
.light_header .topmenu-social span.socialn:after, .light_header .topmenu-social span.socialn:before, .light_header .topmenu-social > a > span.socialn {
    background: #4f758b;
    color: #fff;
}
#navigation_bar {
    margin-left: 0;
    margin-right: 0;
    border: none !important;
    /*background-color: rgba(255,255,255,0.5);*/
    opacity: 0.7;
    -webkit-transition: all 0.4s ease !important;
    -moz-transition: all 0.4s ease !important;
    -o-transition: all 0.4s ease !important;
    -ms-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
}
#navigation_bar:hover {
    /*background-color: rgba(255,255,255,1);*/
    opacity: 1;
    -webkit-transition: all 0.4s ease !important;
    -moz-transition: all 0.4s ease !important;
    -o-transition: all 0.4s ease !important;
    -ms-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
}
.mato_title .line:before {
    background: #1b365d;
}
.mato_title .line i {
    color: #4f758b;
}
#navy span {
    font-size: 12px;
    color: #000;
}
#navy .active_item span, #navy span:hover {
    color: #4f758b;
}
.blog_grid_format i {
    background: #4f758b;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #4f758b;
}
.quote_con, a.quote_con:focus {
    background: #4f758b;
}
.feature_inner_ling:after {
    background: #4f758b;
}
.inwhite .feature_icon .item h5 .icon span:after {
    background: #e4002b;
}
.recent_posts_list li > a .recent_posts_img:after {
    background: #4f758b;
}
.feature_icon .item:hover h5 .title {
    color: #FFF;
}
#footer .tagcloud a:hover .tag {
    border-color: #4f758b;
}
.arrow_button {
    border-color: #4f758b;
}
.section_icon i {
    background: #fff;
    color: #4f758b;
}
.feature_inner_btns > a {
    color: #4f758b;
}
#Gabriel_owl_slider .owl-page.active, #Gabriel_owl_slider .owl-page:hover, .png_slider .owl-page.active, .png_slider .owl-page:hover, .feature_icon_slider .owl-page.active, .feature_icon_slider .owl-page:hover, .porto_galla .owl-page.active, .porto_galla .owl-page:hover, .content_slider .owl-page.active, .content_slider .owl-page:hover, .sidebar_slider .owl-page.active, .sidebar_slider .owl-page:hover {
    background-color: #4f758b;
}
.porto_galla .Gabriel_owl_p, .porto_galla .Gabriel_owl_n {
    color: #4f758b;
}
a.img_popup > span {
    background: rgba(79, 117, 139, 0.7);
}
.bg_overlay {
    background: linear-gradient(#4f758b, #2c4351)
}
.bg_overlay2 {
    background: #FFF
}
.bg_overlay:after {
    background: none;
}
.bg_services {
    /*background: linear-gradient(#4f758b, #2c4351);*/
    /*background: -webkit-linear-gradient(150deg, transparent 5%, #C8102E 5%, #e4002b 15%, transparent 15%, transparent 85%, #1b365d 85%, #1F2A44 100%);*/
    /*background: -moz-linear-gradient(150deg, transparent 10%, #C8102E 10%, #e4002b 20%, transparent 20%, transparent 85%, #1b365d 85%, #1F2A44 100%);*/
    /*background: linear-gradient(120deg, #1F2A44 0%, #1b365d 15%, transparent 15%, transparent 85%, #e4002b 85%, #C8102E 95%, transparent 95%, transparent 100%);*/
    background: url("../img/diagonalbg.png");
    background-size: 100% 100%;
}
.bg_services2 {
    /*background: linear-gradient(#4f758b, #2c4351);*/
    /*background-image: -webkit-linear-gradient(150deg, transparent 5%, #1F2A44 5%, #1b365d 15%, transparent 15%, transparent 85%, #e4002b 85%, #C8102E 100%);*/
    background: url("../img/diagonalbg.png");
    background-size: 100% 100%;
}
.bg_services2 > div > .div-icons_con > div > .div-serv > .div-serv_con h3 {
    color: #324545 !important;
}
.bg_services2 > div > .div-icons_con > div > .div-serv > .div-serv_con > .desc {
    color: #000 !important;
}
.bg_vecogo {
    /*background-image: -moz-linear-gradient(150deg, transparent 55%, #C8102E 55%, #e4002b 55%, #e4002b 65%, #e4002b 65%, #1b365d 65%, #1b365d 65%, #1F2A44 100%);*/
    /*background-image: -webkit-linear-gradient(150deg, transparent 55%, #C8102E 55%, #e4002b 55%, #e4002b 65%, #e4002b 65%, #1b365d 65%, #1b365d 65%, #1F2A44 100%);*/
    background: url("../img/diagonalbg2.png");
    background-position: center;
    background-repeat: no-repeat;
}
.img-vecogo {
    margin: 80px 0 10px 0 ;
}
.img-phone {
    margin: 0 auto;
    margin-top: 20px;
}
.bg_vecogo h4 {
    color: #364958;
}
.inwhite .div-icons_con.style1 .div-serv .desc, .inwhite .div-icons_con.style2 .div-serv .desc {
    color: #ddd;
}
.div-icons_con.style2:not(.solid_icon):not(.icon_box_no_border) .div-serv .icon {
    background: #1b365d;
    color: #fff;
}
.div-icons_con.style2:not(.solid_icon):not(.icon_box_no_border) .div-serv:hover .icon {
    background: #e4002b;
    color: #fff;
}
.inwhite .div-icons_con.style2:not(.icon_box_no_border) .div-serv .icon::after, .div-icons_con.style2:not(.icon_box_no_border) .div-serv .icon:after {
    background: inherit;
    border: none;
}
.feature_inner {
    /*max-width: 360px;*/
    /*max-height: 200px;*/
    max-width: 100%;
    max-height: 100%;
}
.blog_grid_con .title a:hover {
    color: #4f758b;
}
#pagination {
     margin-top: 0;
}
.pagination li a:hover, .pagination li.active a, .pagination li.next_pagination > a:hover, .pagination li.prev_pagination > a:hover {
    background: #4f758b;
    border-color: #4f758b;
    color: #fff;
}
.exchange-flag {
    height: 12px;
    width: 20px;
    margin-right: 5px;
}
.exchange-items {
    margin-bottom: 10px;
}
.exchange-items > div > p:first-child {
    color: #999;    
}
.exchange-items > div > p:last-child {
    color: #FFF;    
}
.row_spacer_footer {
    padding: 50px 0;
}
.marquee {
    width: 100%;
    overflow: hidden;
    background-color: #97999b;
    color: white;
}
.marquee li {
    margin: 3px 20px;
}
.hm_blog_list .blog_grid_con .title a:hover, .post_title_con .title a:hover {
    color: #4f758b;
}
.blog_grid_con .meta .post_type_meta a, .post_title_con .post_type_meta a {
    color: #aaa;
}
.blog_grid_con .meta .post_type_meta a:hover, .post_title_con .post_type_meta a:hover {
    color: #4f758b;
}
.blog_grid_con .meta a:hover, .post_title_con .meta a:hover, .timeline_block .meta a:hover {
    color: #4f758b;
}
.hm_blog_list .btn_a, .btn_a i.to_left, .btn_a i.to_right {
    color: #4f758b;
}
.btn_a:not(.color1):hover {
    color: #4f758b;
}
.search_block form .search_btn {
    color: #4f758b;
}
.post_format_con > span > a {
    color: #1b365d;
    border: 1px solid #1b365d;
}
.internal_post_con .meta .meta_part i, .timeline_block .meta .meta_part i {
    color: inherit;
}
.related_posts_slide .related_img > span:after {
    background: #4f758b;
}
.cat_list_widget > li a:hover {
    color: #4f758b;
}
blockquote > i {
    color: #4f758b;
}
.socials-share a:hover {
    color: #4f758b;
    border-color: #4f758b;
}
.post_next_prev a:hover, .post_next_prev a:hover .t {
    color: #4f758b;
}
#comments .children, .comment-reply-link:hover, .comment-edit-link:hover, input[type="text"]:focus, textarea:focus, input[type="password"]:focus {
    border-color: #4f758b;
}
#comments .children:after {
    background: #4F758B;
}
.send_button {
    background: #4F758B;
    border-color: #4f758b;
}
/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

#spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position: absolute;
    top: 43%;
    left: 43%;
}
.recent_posts_img {
    max-width: 90px;
    max-height: 60px;
}
#footer {
    background: linear-gradient(#4f758b, #2c4351);
    color: #ddd;
}
#footer:after, #footer:before, .footer_copyright:after {
    background: none;
}
#footer #read_more_footer {
    color: #4f758b;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
#footer #read_more_footer:hover {
    color: white;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.footer_row {
    border: none;
}
.footer_navigation a {
    color: #ddd;
}
.footer_navigation a:hover {
    color: #fff;
}