.vertical-align {
    display: flex;
    align-items: center;
}
#logo > a img {
    max-width: 235px;
}
#navy > li > a > span {
    padding: 36px 15px 28px 15px;
}
#navy {
    margin-bottom: 0;
}
a {
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}
.light_header .lang-select .lang-panel-con {
    background: #4f758b;
}
#navy > li.active_item > a:not(.nav_trigger), #navy > li:hover > a:not(.nav_trigger), #navy > li > a.current, .light_header #navy > li > a.current {
    color: #4f758b;
    text-decoration: none;
}
.light_header .topmenu-social span.socialn:after, .light_header .topmenu-social span.socialn:before, .light_header .topmenu-social > a > span.socialn {
    background: #4f758b;
    color: #fff;
}
.mato_title .line:before {
    background: #4f758b;
}
.mato_title .line i {
    color: #4f758b;
}
.blog_grid_format i {
    background: #4f758b;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #4f758b;
}
.quote_con, a.quote_con:focus {
    background: #4f758b;
}
.feature_inner_ling:after {
    background: #4f758b;
}
.inwhite .feature_icon .item h5 .icon span:after {
    background: #4f758b;
}
.feature_icon .item:hover h5 .title {
    color: #4f758b;
}
.section_icon i {
    background: #fff;
    color: #4f758b;
}
a.img_popup > span {
    background: rgba(79, 117, 139, 0.7);
}
.bg_overlay {
    background: linear-gradient(#4f758b, #2c4351)
}
.section-test {
    /*background-color: #1b365d;*/
    background-color: transparent;
    /*background-image: url('../img/containers.jpg');*/
    /*background-size: 50%;*/
}
.section-test h1 {
    color: white;
    margin: 0;
}
.section-test h4, p {
    color: #999;
    margin: 0;
}
.test {
    background-color: transparent;
    min-height: 520px;
}
.test1 {
    background-image: -webkit-linear-gradient(152deg, #e4002b 50%, transparent 50%);
    min-height: 520px;
}
.test2 {
    background-image: -webkit-linear-gradient(152deg, #1b365d 50%, #e4002b 50%);
    min-height: 520px;
}
.test3 {
    background: linear-gradient(to right, #1b365d, #0f213a);
    min-height: 520px;
    padding: 30px;
}
.exchange-flag {
    height: 50px;
    width: 80px;
}
.exchange-items {
    margin-bottom: 10px;
}
.exchange-items > div > p:first-child {
    color: #999;    
}
.exchange-items > div > p:last-child {
    color: #FFF;    
}